# output folders for binary files
bin/
build/
dist/
obj/
out/

# binary files
*.o
*.exe
*.lib
*.so
*.a
*.dll
*.ilk
*.pdb

# projects files
.vs/
.vscode/
*.layout
*.depend
*.cbp
*.vcxproj
*.vcxproj.filters

# external libs
antlr/cpp_runtime/demo/*
antlr/cpp_runtime/runtime/antlrcpp*

# python precompiled files
__pycache__/
*.pyc
*.pyo
*.pyu

# just some personnal stuff
specs.txt
*.cmd
*.sh
*.old.txt
lib/
dist/
