# output folders for binary files
bin/
build/
obj/
out/

# binary files
*.o
*.exe
*.lib
*.so
*.a

# projects files
.vs/
*.layout
*.depend
*.cbp

# python precompiled files
*.pyc
*.pyo
*.pyu

# just some personnal notes
specs.txt