# output folders for binary files
bin/
build/
obj/
out/

# binary files
*.o
*.exe
*.lib
*.so
*.a

# projects files
.vs/
.vscode/
*.layout
*.depend
*.cbp

# external libs
#thirdparty/
#*.jar

# python precompiled files
__pycache__/
*.pyc
*.pyo
*.pyu

# just some personnal stuff
specs.txt
*.cmd